
/* body{
    background-color: black !important;
    overflow-x:hidden;
}
body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(#e91e63,#ffc107);
    clip-path: circle(22% at 30% 20%);
}
body::after{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(#ffffff,#da00ff);
    clip-path: circle(20% at 70% 90%);
} */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
  background-color: black !important;
  }
  .box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
  }
  .box .group{
    position: relative;
    transform: rotate(-30deg);
  }
  #iconContainer{
  display: flex;
  gap: 0.5em;
  font-size: 5em;
  width: 200vw;
  animation: animate 80s linear infinite;
  }
  @keyframes animate{
    0%,100%{
      transform: translateX(-100vw);
    }
    50%{
      transform: translateX(0vw);
    }
  }
  #iconContainer > i{
    font-size: 60px;
    margin: 10px 7px;
    cursor: default;
    user-select: none;
    transition: 2s;
    color: transparent;
    opacity: 1;
    -webkit-text-stroke: 1px #7DF9FF;
  }
  #iconContainer > i:hover{
    color: #7DF9FF;
    background-color: transparent;
    transition: 0s;
    -webkit-text-stroke: 1px transparent;
    opacity: 1;
    box-shadow: 0 0 120px #7DF9FF;
  }